.name
{
    background-color:black;
    padding-bottom:20px;
}
#one
{
    color:rgb(230, 161, 71);
    margin-right:250px;
}
#two
{
    color:white;
    margin-right:250px;
}
#three
{
    color:white;
    margin-right:250px;
}
#four
{
    color:white;
    margin-right:250px;
}
#six
{
    color:white;
    background-color:rgb(230, 161, 71);
}